.messenger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;

  width: 320px;
  height: calc(100% - 60px) !important;
  min-height: 220px !important;
  max-height: 460px !important;
  margin: auto;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
  opacity: 1;
  transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;

  & div.agent-face {
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    z-index: 12;

    width: 101px;
    height: 50px;
    margin: auto;

    background: transparent;
  }

  & div {
    font-size: 14px;
    color: #232323;
  }
}

.close {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 99em;
  opacity: 0.5;
}

.close:hover {
  opacity: 0.9;
}


.circle {
  display: block;
  width: 80px;
  height: 80px;
  margin: 1em auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 2px solid #ffffff; /*#4A90E2;*/
  border-radius: 50%;
}

.contact-icon .circle:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  transition: 0.2s all ease-out 0.2s;
}

// .arrow_box:after {
//   margin-top: -5px;
//
//   border-width: 5px;
//   border-color: rgba(255, 255, 255, 0);
//   border-left-color: #ffffff;
// }
// .arrow_box {
//   position: relative;
//
//   background: #ffffff;
//   border: 1px solid #4a90e2;
// }
// .arrow_box:after,
// .arrow_box:before {
//   content: " ";
//   position: absolute;
//   top: 50%;
//   left: 100%;
//
//   width: 0;
//   height: 0;
//
//   border: solid transparent;
//
//   pointer-events: none;
// }

.menu .items span {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 12;

  width: 48px;
  height: 86px;

  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #111111;

  background: #ffffff;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.menu {
  .button {
    content: "...";
    position: absolute;
    right: 0;
    z-index: 12;

    display: block;
    width: 48px;
    height: 40px;
    padding-right: 10px;

    font-size: 30px;
    line-height: 25px;
    text-align: right;
    color: #ffffff;

    border-top-right-radius: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    &.active {
      background: #38bf36;
    }
  }

  .items {
    span.active {
      opacity: 1;
    }

    a {
      color: #111111;
      text-decoration: none;

      &:hover {
        color: #777777;
      }
    }
  }

}


@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
  .messenger {
    z-index: 2147483001 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
    background: #ffffff;

    div.agent-face {
      top: -10px !important;
    }
  }

  .circle {
    width: 80px;
    height: 80px;
    border: 1px solid #ffffff;
  }

  .menu .button {
    border-top-right-radius: 0;
  }
}

@media only screen and (min-device-width: 667px) {
  div.half {
    margin: auto;
    width: 80px;
    height: 40px;
    background-color: #ffffff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom: 0;
    box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
  }
}
